
@font-face {
    font-family: 'e-Ukraine';
    src: url(../fonts/e-Ukraine/e-Ukraine-Regular.eot);
    src: local('e-Ukraine Regular'), local('e-Ukraine-Regular');
    src: url(../fonts/e-Ukraine/e-Ukraine-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/e-Ukraine/e-Ukraine-Regular.otf) format('otf'),
    url(../fonts/e-Ukraine/e-Ukraine-Regular.svg#e-Ukraine-Regular) format('svg'),
    url(../fonts/e-Ukraine/e-Ukraine-Regular.ttf) format('truetype'),
    url(../fonts/e-Ukraine/e-Ukraine-Regular.woff) format('woff'),
    url(../fonts/e-Ukraine/e-Ukraine-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url(../fonts/e-Ukraine/e-Ukraine-UltraLight.eot);
    src: local('e-Ukraine UltraLight'), local('e-Ukraine-UltraLight');
    src: url(../fonts/e-Ukraine/e-Ukraine-UltraLight.eot?#iefix) format('embedded-opentype'),
    url(../fonts/e-Ukraine/e-Ukraine-UltraLight.otf) format('otf'),
    url(../fonts/e-Ukraine/e-Ukraine-UltraLight.svg#e-Ukraine-UltraLight) format('svg'),
    url(../fonts/e-Ukraine/e-Ukraine-UltraLight.ttf) format('truetype'),
    url(../fonts/e-Ukraine/e-Ukraine-UltraLight.woff) format('woff'),
    url(../fonts/e-Ukraine/e-Ukraine-UltraLight.woff2) format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url(../fonts/e-Ukraine/e-Ukraine-Light.eot);
    src: local('e-Ukraine Light'), local('e-Ukraine-Light');
    src: url(../fonts/e-Ukraine/e-Ukraine-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/e-Ukraine/e-Ukraine-Light.otf) format('otf'),
    url(../fonts/e-Ukraine/e-Ukraine-Light.svg#e-Ukraine-Light) format('svg'),
    url(../fonts/e-Ukraine/e-Ukraine-Light.ttf) format('truetype'),
    url(../fonts/e-Ukraine/e-Ukraine-Light.woff) format('woff'),
    url(../fonts/e-Ukraine/e-Ukraine-Light.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url(../fonts/e-Ukraine/e-Ukraine-Medium.eot);
    src: local('e-Ukraine Medium'), local('e-Ukraine-Medium');
    src: url(../fonts/e-Ukraine/e-Ukraine-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/e-Ukraine/e-Ukraine-Medium.otf) format('otf'),
    url(../fonts/e-Ukraine/e-Ukraine-Medium.svg#e-Ukraine-Medium) format('svg'),
    url(../fonts/e-Ukraine/e-Ukraine-Medium.ttf) format('truetype'),
    url(../fonts/e-Ukraine/e-Ukraine-Medium.woff) format('woff'),
    url(../fonts/e-Ukraine/e-Ukraine-Medium.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}

//@font-face {
//    font-family: 'e-Ukraine';
//    src: url(../fonts/e-Ukraine/e-Ukraine-Thin.eot);
//    src: local('e-Ukraine Thin'), local('e-Ukraine-Thin');
//    src: url(../fonts/e-Ukraine/e-Ukraine-Thin.eot?#iefix) format('embedded-opentype'),
//    url(../fonts/e-Ukraine/e-Ukraine-Thin.otf) format('otf'),
//    url(../fonts/e-Ukraine/e-Ukraine-Thin.svg#e-Ukraine-Thin) format('svg'),
//    url(../fonts/e-Ukraine/e-Ukraine-Thin.ttf) format('truetype'),
//    url(../fonts/e-Ukraine/e-Ukraine-Thin.woff) format('woff'),
//    url(../fonts/e-Ukraine/e-Ukraine-Thin.woff2) format('woff2');
//
//}


@font-face {
    font-family: 'e-Ukraine';
    src: url(../fonts/e-Ukraine/e-Ukraine-Bold.eot);
    src: local('e-Ukraine Bold'), local('e-Ukraine-Bold');
    src: url(../fonts/e-Ukraine/e-Ukraine-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/e-Ukraine/e-Ukraine-Bold.otf) format('otf'),
    url(../fonts/e-Ukraine/e-Ukraine-Bold.svg#e-Ukraine-Bold) format('svg'),
    url(../fonts/e-Ukraine/e-Ukraine-Bold.ttf) format('truetype'),
    url(../fonts/e-Ukraine/e-Ukraine-Bold.woff) format('woff'),
    url(../fonts/e-Ukraine/e-Ukraine-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
